
body {

    background-color:beige



}
.Div1
{
    border: 1px solid black;
    width: 800px;
    height: 250px;
    
    background-color: rgb(254, 254, 254);

}

.span1{

    font-weight: 700;
    background-color: darksalmon;



}

.span2 {

    font-weight: 700;
background-color: gold;

}

.span3{

    border: 1px dashed black ;
    background-color: white;




}