
body, html{
   height: 100%;
   padding: 0px;
   margin: 0px;

}
.A {
    background-color: antiquewhite;
    display:flex;
    height: 100%;
    
    
  
    text-align: center;
    
}

.Ab{
    background-color: black;
}

.A1 {
    background-color:green;
   
    
}



.A2 {
    background-color: yellow;
   
    
}


.A3 {
    background-color:purple;
    
    }


.A4 {
    background-color: silver;
    
    
    
    
}


.A5 {
    background-color: blue;
    
    
    
    
}


.A6 {
    background-color: orange;
    
    
    
    
}


.A7 {
    background-color: pink;
    
    
    
    
}


.A8 {
    background-color: red;
    
    
    
    
}


.A9 {
    background-color: brown;
   
    
    
    
}


.B{
    width: 100%;
     
    font-size: 35px;
    color: white;
}



