span {
    font-family: 'Fasthand', cursive;
    display: inline;
    background-color: green;
}



img {

    float:right;
    border: 1px red solid;
    padding:right;
    
    
    
    
}

.S{
    position: sticky;
    color: red;
    position: -webkit-sticky;
    position: sticky;
    padding-bottom:200px;
    
    
}


