
body, html {
    margin:0px;
    padding:0px;
    height: 100%;
    background-image: linear-gradient(to top,black 10%, rgb(10,151,151)70%);
    background-size: cover;
    background-repeat: no-repeat;
    

}
.Div1 {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows:repeat(1,1fr);
}

.Logo {
    font-size: 85px;
    color:rgb(255, 255, 255);
    justify-content: first baseline;
    background-color: rgb(10, 151, 151);
    padding-left: 20px;
    padding-top: 15px;
    
    
}


.Nav{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    font-size: 30px;
   
    background-color: rgb(10, 151, 151);
    color: white;

}

