body, html{
    margin: 0px;
    padding: 0px;

    background-image: linear-gradient(to top,black 10%, #0a9797 70%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.Div1 {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows:repeat(1,1fr);
}

.Logo {
    font-size: 60px;
    color:rgb(10, 151, 151);
    justify-content: first baseline;
    background-color: black;
    
    
}


.Nav{
    font-size: 20px;
    justify-content:end;
    background-color: #0a9797;
    color: white;
    display: flex;
    justify-content: flex-end;
    justify-content:space-evenly

}




 

















